In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("bank-full (1).csv",sep=";")

In [3]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [5]:
df = pd.get_dummies(df, columns=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome'])

In [6]:
X = df.drop(['y'], axis=1)
y = df['y']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [8]:
X_train

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
13932,57,658,10,724,1,-1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
9894,37,1699,9,63,1,-1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
39946,35,2823,2,102,4,96,2,0,0,0,...,1,0,0,0,0,0,1,0,0,0
9217,35,214,5,247,1,-1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
4124,38,323,19,138,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30403,35,995,5,39,1,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21243,35,750,18,233,12,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
42613,35,323,11,261,2,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
43567,70,616,27,149,2,182,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2732,46,57,14,194,4,-1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1

In [9]:
X_test

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
14001,37,1403,10,91,15,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
32046,36,-253,14,1073,1,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13318,47,-406,8,243,5,-1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
42991,57,501,11,105,7,188,2,0,0,0,...,0,0,0,0,0,0,1,0,0,0
14237,33,-406,14,332,2,-1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18448,53,252,31,727,4,-1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
6654,28,1996,28,55,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
17106,28,7,25,50,3,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9025,59,0,5,812,1,-1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
13171,50,-315,8,173,1,-1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
y_train

13932    yes
9894      no
39946     no
9217      no
4124      no
        ...
30403     no
21243     no
42613    yes
43567     no
2732      no
Name: y, Length: 36168, dtype: object

In [11]:
y_test

14001     no
32046    yes
13318     no
42991     no
14237     no
        ...
18448    yes
6654      no
17106     no
9025     yes
13171     no
Name: y, Length: 9043, dtype: object

In [12]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

In [13]:
X_train

array([[ 1.51506117, -0.23163698, -0.69851397, ..., -0.20517128,
        -0.18404781,  0.47153594],
       [-0.36959746,  0.10603762, -0.81871672, ..., -0.20517128,
        -0.18404781,  0.47153594],
       [-0.55806332,  0.47063537, -1.66013596, ..., -0.20517128,
        -0.18404781, -2.12072912],
       ...,
       [-0.55806332, -0.34030268, -0.57831122, ..., -0.20517128,
        -0.18404781,  0.47153594],
       [ 2.74008927, -0.24526074,  1.34493276, ..., -0.20517128,
        -0.18404781, -2.12072912],
       [ 0.47849892, -0.42658649, -0.21770297, ..., -0.20517128,
        -0.18404781,  0.47153594]])

In [14]:
X_test

array([[-0.37504691,  0.02772619, -0.6943886 , ..., -0.20915121,
        -0.19338611,  0.47644659],
       [-0.46898783, -0.54589594, -0.21447144, ..., -0.20915121,
        -0.19338611,  0.47644659],
       [ 0.56436234, -0.59889364, -0.93434718, ..., -0.20915121,
        -0.19338611,  0.47644659],
       ...,
       [-1.22051523, -0.45583449,  1.10530075, ..., -0.20915121,
        -0.19338611,  0.47644659],
       [ 1.69165343, -0.45825923, -1.29428505, ..., -0.20915121,
        -0.19338611,  0.47644659],
       [ 0.84618511, -0.56737213, -0.93434718, ..., -0.20915121,
        -0.19338611,  0.47644659]])

In [15]:
lr = LogisticRegression()
lr.fit(X_train, y_train)

LogisticRegression()

In [16]:
y_pred = lr.predict(X_test)

In [17]:
y_pred

array(['no', 'yes', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [18]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8993696782041358